<a href="https://colab.research.google.com/github/GauravSingh3822/Python_Assignment/blob/main/Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Q1. Create a python program to sort the given list of tuples based on integer value using alambda function.
###[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [1]:
l1=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [2]:
sorted_list= sorted(l1, key=lambda x: x[1])

In [3]:
print(sorted_list)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

## Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
my_list=[1,2,3,4,5,6,7,8,9,10]

In [5]:
sq_list= list(map(lambda x:x**2,my_list))

In [6]:
print(sq_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map andlambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [7]:
string=[1,2,3,4,5,6,7,8,9,10]

In [8]:
result=tuple(map(lambda x:str(x),string))

In [9]:
print(result)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

##Q4. Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [11]:
from functools import reduce

In [12]:
numbers = list(range(1, 26))
reduce(lambda x,y:x*y,numbers)

15511210043330985984000000

## Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [14]:
l2=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [15]:
list(filter(lambda x:x%2==0 and x%3==0 ,l2))

[6, 60, 90, 120]

## Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function. ['python', 'php', 'aba', 'radar', 'level']