<a href="https://colab.research.google.com/github/GauravSingh3822/Python_Assignment/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 ## Q1. Create one variable containing following type of data:
 (i)	string
 (ii)	list
 (iii)	float
 (iv)	tuple
 ## Q2. Given are some following variables containing data:
 (i)	var1 = ‘ ‘
 (ii)	var2 = ‘[ DS , ML , Python]’
 (iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
 (iv)	var4 = 1.
 What will be the data type of the above given variable.
 ## Q3. Explain the use of the following operators using an example:
 (i)	/
 (ii)	%
(iii)	//
 (iv)	**
 ## Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.
 ## Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.
 ## Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.
 ## Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property

In [3]:
## Q1. Create one variable containing following type of data:
## (i) string (ii) list (iii) float (iv) tuple

a="Gaurav"
b=[1,2,3,4,5,'Gaurav',34.56,'PWskills']
c=34.56
d=(1,2,3,4,5,6)

In [4]:
a,b,c,d

('Gaurav',
 [1, 2, 3, 4, 5, 'Gaurav', 34.56, 'PWskills'],
 34.56,
 (1, 2, 3, 4, 5, 6))

In [10]:
##Q2. Given are some following variables containing data:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.
## What will be the data type of the above given variable.
type(var1)

str

In [11]:
type(var2)

str

In [12]:
type(var3)

list

In [13]:
type(var4)

float

In [ ]:
#Q3. Explain the use of the following operators using an example:
## (i) / (ii) % (iii) // (iv) **

In [15]:
a=5/2
a

2.5

In [16]:
b=4%3
b

1

In [17]:
c=5//4
c

1

In [18]:
d=2**4
d

16

In [20]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

list=[1,2,3,4,5,6,'Gaurav','PWSkills',34.45,78,'Data Science']
for i in list:
  print(i,":",type(i))

1 : <class 'int'>
2 : <class 'int'>
3 : <class 'int'>
4 : <class 'int'>
5 : <class 'int'>
6 : <class 'int'>
Gaurav : <class 'str'>
PWSkills : <class 'str'>
34.45 : <class 'float'>
78 : <class 'int'>
Data Science : <class 'str'>

In [22]:
## Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.
a=int(input("Enter the value of A:"))
b=int(input("Enter the value of B:"))
while a//b:
  print(a,"a is purely divisible by",b)
  break
else:
  print(a,"a is not divisble by b")

Enter the value of A:35
Enter the value of B:5
35 a is purely divisible by 5

In [24]:
## Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.
List=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in List:
    if i%3==0:
        print(i,"is divisble by 3")
    else:
        print(i,"is not divisble by 3")

1 is not divisble by 3
2 is not divisble by 3
3 is divisble by 3
4 is not divisble by 3
5 is not divisble by 3
6 is divisble by 3
7 is not divisble by 3
8 is not divisble by 3
9 is divisble by 3
10 is not divisble by 3
11 is not divisble by 3
12 is divisble by 3
13 is not divisble by 3
14 is not divisble by 3
15 is divisble by 3
16 is not divisble by 3
17 is not divisble by 3
18 is divisble by 3
19 is not divisble by 3
20 is not divisble by 3
21 is divisble by 3
22 is not divisble by 3
23 is not divisble by 3
24 is divisble by 3
25 is not divisble by 3

In [25]:
## Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property
## Mutable=Mutable mean we can change during exceution
b=[1,2,4,5,'Gaurav'] ## it is mutable bcoz it can change
##Immutable=Immutable mean we can;t change during exceution
c="Gaurav" ## Gaurav is immutable