# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [3]:
## Create a pandas series form list
import pandas as pd
lst=[4,8,15,16,23,42]
series=pd.Series(lst)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [5]:
lst=[1,2,3,4,5,6,7,8,9,10]
series=pd.Series(lst)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# Q3. Create a Pandas DataFrame that contains the following data: Then, print the DataFrame.

In [7]:
import pandas as pd
data={
    "Name":["Alice","Bob","Clariea"],
    "Age":[25,30,27],
    "Gender":["Female","Male","Female"]
}
df=pd.DataFrame(data)
print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Clariea   27  Female

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

# Data frame is a collection of the multiple column where series is a only a single column

In [15]:
# eg of series 
print('Eg of Series')
lst=['Gaurav','Mannu','Singh']
series=pd.Series(lst)
print(series)
print('--'*40)

## eg of DataFrame
print("Eg of DataFrame")
data={
  'Name':["Gaurav","Mannu","Shubham"],
  'Age':[24,26,27],
  'Gender':['Male','Male','Male']
}
df=pd.DataFrame(data)
print(df)

Eg of Series
0    Gaurav
1     Mannu
2     Singh
dtype: object
--------------------------------------------------------------------------------
Eg of DataFrame
      Name  Age Gender
0   Gaurav   24   Male
1    Mannu   26   Male
2  Shubham   27   Male

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

## some common functions you can use to manipulate data in a Pandas DataFrame  
## 1.df.head()
## 2.tail()
## 3.describe()
## 4.drop()
## 5.dropna()
## 6.info()

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

## Series nd DataFrame are Mutable in nature

# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [18]:
import pandas as pd
data={
    "Name":["Alice","Bob","Clariea"],
    "Age":[25,30,27],
    "Gender":["Female","Male","Female"],
    "Insitute":['Pw skills','Pw skills','ineuron'],
    "Course" :["Data_Science","Data Analyst",'Java Development']
}
df=pd.DataFrame(data)
print(df)

      Name  Age  Gender   Insitute            Course
0    Alice   25  Female  Pw skills      Data_Science
1      Bob   30    Male  Pw skills      Data Analyst
2  Clariea   27  Female    ineuron  Java Development